<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      {% comment %}
        The code below generates a sidebar nav of selected pages in the given oder
      {% endcomment %}
      
     <a class="sidebar-nav-item active" href="{{site.baseurl}}index.html">Home</a>
     <a class="sidebar-nav-item active" href="https://kai-lim.github.io/London_Genetic_Network/people/">People</a>
     <a class="sidebar-nav-item active" href="{{site.baseurl}}about/">About</a>
    
     
    </nav>

    <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
  </div>
</div>
